.topic {
  color: var(--ft-custom-reader-content-text);
  --md-typeset-table-color: rgba(0, 0, 0, 0.31);
  --md-table-bg-color: #f3f3f0;
  /*--md-shadow-z1: 0 0.2rem 0.5rem #0000000d,0 0 0.05rem #0000001a;*/
  --md-shadow-z1: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.14), 0 0 0.05rem rgba(0, 0, 0, 0.26);
  --md-default-fg-color--lightest: rgba(0, 0, 0, 0.18);
  --md-accent-fg-color: #0098a6;
  --md-clipboard-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 21H8V7h11m0-2H8a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2m-3-4H4a2 2 0 0 0-2 2v14h2V3h12V1Z"/></svg>');
  --md-default-bg-color: var(--ft-custom-reader-content-background);
  --md-default-fg-color: var(--ft-custom-reader-content-text);
  /* Remove x overflow in general */
  overflow-x: unset !important;
}
.topic .ft-external-link,
.topic .ft-internal-link,
.topic .ft-internal-xlink,
.topic [data-ft-click-interceptor=ft-external-link],
.topic [data-ft-click-interceptor=ft-internal-link],
.topic [data-ft-click-interceptor=ft-internal-xlink] {
  color: var(--ft-custom-reader-link-text);
}
.topic p {
  line-height: 1.5em;
}
.topic {
  /*Linie vor Topic Title*/
  /********************************************************/
}
.topic .depth-1::before {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  margin: 1em 0;
  background-color: var(--ft-custom-secondary);
}
.topic {
  /* Fix found search text in topics */
}
.topic mark.highlight-html-match {
  color: var(--ft-custom-reader-content-text) !important;
  background-color: var(--ft-custom-highlight-found-search-text) !important;
}
.topic {
  /* Syntax Highlighting for SIMATIC AX */
}
.topic .highlight {
  margin-top: 0.5em;
}
.topic code:not(pre code) {
  padding: 0.1em 0.4em;
  font-size: 0.875em;
  color: var(--ft-custom-reader-code-text);
  font-variant-ligatures: none;
  background-color: rgba(170, 170, 150, 0.07);
  border: 1px solid rgba(170, 170, 150, 0.14);
  border-radius: 8px;
}
.topic .highlight ::part(container) {
  background-color: #2E3440;
}
.topic .highlight ::part(button-container) {
  top: 0.2em;
}
.topic .highlight ::part(button) {
  border-radius: 4px;
  padding: 2px 4px;
  background-color: transparent;
}
.topic .highlight ::part(content) {
  margin: 0;
}
.topic pre code {
  overflow-x: auto;
  color: #D8DEE9;
  display: block;
  padding: 0.8rem 1rem;
}
.topic {
  /* Nord Theme from pygments https://github.com/richleland/pygments-css/blob/master/monokai.css */
}
.topic pre {
  line-height: 125%;
  margin: 0;
  border-radius: 8px;
}
.topic td.linenos .normal {
  color: #D8DEE9;
  background-color: #242933;
  padding-left: 5px;
  padding-right: 5px;
}
.topic span.linenos {
  color: #D8DEE9;
  background-color: #242933;
  padding-left: 5px;
  padding-right: 5px;
}
.topic td.linenos .special {
  color: #242933;
  background-color: #D8DEE9;
  padding-left: 5px;
  padding-right: 5px;
}
.topic span.linenos.special {
  color: #242933;
  background-color: #D8DEE9;
  padding-left: 5px;
  padding-right: 5px;
}
.topic .highlight .hll {
  background-color: #3B4252;
}
.topic .highlight {
  background: #2E3440;
  color: #D8DEE9;
  border-radius: 8px;
}
.topic .highlight .c {
  color: #616E87;
  font-style: italic;
}
.topic { /* Comment */ }
.topic .highlight .err {
  color: #BF616A;
}
.topic { /* Error */ }
.topic .highlight .esc {
  color: #D8DEE9;
}
.topic { /* Escape */ }
.topic .highlight .g {
  color: #D8DEE9;
}
.topic { /* Generic */ }
.topic .highlight .k {
  color: #81A1C1;
  font-weight: bold;
}
.topic { /* Keyword */ }
.topic .highlight .l {
  color: #D8DEE9;
}
.topic { /* Literal */ }
.topic .highlight .n {
  color: #D8DEE9;
}
.topic { /* Name */ }
.topic .highlight .o {
  color: #81A1C1;
  font-weight: bold;
}
.topic { /* Operator */ }
.topic .highlight .x {
  color: #D8DEE9;
}
.topic { /* Other */ }
.topic .highlight .p {
  color: #ECEFF4;
}
.topic { /* Punctuation */ }
.topic .highlight .ch {
  color: #616E87;
  font-style: italic;
}
.topic { /* Comment.Hashbang */ }
.topic .highlight .cm {
  color: #616E87;
  font-style: italic;
}
.topic { /* Comment.Multiline */ }
.topic .highlight .cp {
  color: #5E81AC;
  font-style: italic;
}
.topic { /* Comment.Preproc */ }
.topic .highlight .cpf {
  color: #616E87;
  font-style: italic;
}
.topic { /* Comment.PreprocFile */ }
.topic .highlight .c1 {
  color: #616E87;
  font-style: italic;
}
.topic { /* Comment.Single */ }
.topic .highlight .cs {
  color: #616E87;
  font-style: italic;
}
.topic { /* Comment.Special */ }
.topic .highlight .gd {
  color: #BF616A;
}
.topic { /* Generic.Deleted */ }
.topic .highlight .ge {
  color: #D8DEE9;
  font-style: italic;
}
.topic { /* Generic.Emph */ }
.topic .highlight .ges {
  color: #D8DEE9;
  font-weight: bold;
  font-style: italic;
}
.topic { /* Generic.EmphStrong */ }
.topic .highlight .gr {
  color: #BF616A;
}
.topic { /* Generic.Error */ }
.topic .highlight .gh {
  color: #88C0D0;
  font-weight: bold;
}
.topic { /* Generic.Heading */ }
.topic .highlight .gi {
  color: #A3BE8C;
}
.topic { /* Generic.Inserted */ }
.topic .highlight .go {
  color: #D8DEE9;
}
.topic { /* Generic.Output */ }
.topic .highlight .gp {
  color: #616E88;
  font-weight: bold;
}
.topic { /* Generic.Prompt */ }
.topic .highlight .gs {
  color: #D8DEE9;
  font-weight: bold;
}
.topic { /* Generic.Strong */ }
.topic .highlight .gu {
  color: #88C0D0;
  font-weight: bold;
}
.topic { /* Generic.Subheading */ }
.topic .highlight .gt {
  color: #BF616A;
}
.topic { /* Generic.Traceback */ }
.topic .highlight .kc {
  color: #81A1C1;
  font-weight: bold;
}
.topic { /* Keyword.Constant */ }
.topic .highlight .kd {
  color: #81A1C1;
  font-weight: bold;
}
.topic { /* Keyword.Declaration */ }
.topic .highlight .kn {
  color: #81A1C1;
  font-weight: bold;
}
.topic { /* Keyword.Namespace */ }
.topic .highlight .kp {
  color: #81A1C1;
}
.topic { /* Keyword.Pseudo */ }
.topic .highlight .kr {
  color: #81A1C1;
  font-weight: bold;
}
.topic { /* Keyword.Reserved */ }
.topic .highlight .kt {
  color: #81A1C1;
}
.topic { /* Keyword.Type */ }
.topic .highlight .ld {
  color: #D8DEE9;
}
.topic { /* Literal.Date */ }
.topic .highlight .m {
  color: #B48EAD;
}
.topic { /* Literal.Number */ }
.topic .highlight .s {
  color: #A3BE8C;
}
.topic { /* Literal.String */ }
.topic .highlight .na {
  color: #8FBCBB;
}
.topic { /* Name.Attribute */ }
.topic .highlight .nb {
  color: #81A1C1;
}
.topic { /* Name.Builtin */ }
.topic .highlight .nc {
  color: #8FBCBB;
}
.topic { /* Name.Class */ }
.topic .highlight .no {
  color: #8FBCBB;
}
.topic { /* Name.Constant */ }
.topic .highlight .nd {
  color: #D08770;
}
.topic { /* Name.Decorator */ }
.topic .highlight .ni {
  color: #D08770;
}
.topic { /* Name.Entity */ }
.topic .highlight .ne {
  color: #BF616A;
}
.topic { /* Name.Exception */ }
.topic .highlight .nf {
  color: #88C0D0;
}
.topic { /* Name.Function */ }
.topic .highlight .nl {
  color: #D8DEE9;
}
.topic { /* Name.Label */ }
.topic .highlight .nn {
  color: #8FBCBB;
}
.topic { /* Name.Namespace */ }
.topic .highlight .nx {
  color: #D8DEE9;
}
.topic { /* Name.Other */ }
.topic .highlight .py {
  color: #D8DEE9;
}
.topic { /* Name.Property */ }
.topic .highlight .nt {
  color: #81A1C1;
}
.topic { /* Name.Tag */ }
.topic .highlight .nv {
  color: #D8DEE9;
}
.topic { /* Name.Variable */ }
.topic .highlight .ow {
  color: #81A1C1;
  font-weight: bold;
}
.topic { /* Operator.Word */ }
.topic .highlight .pm {
  color: #ECEFF4;
}
.topic { /* Punctuation.Marker */ }
.topic .highlight .w {
  color: #D8DEE9;
}
.topic { /* Text.Whitespace */ }
.topic .highlight .mb {
  color: #B48EAD;
}
.topic { /* Literal.Number.Bin */ }
.topic .highlight .mf {
  color: #B48EAD;
}
.topic { /* Literal.Number.Float */ }
.topic .highlight .mh {
  color: #B48EAD;
}
.topic { /* Literal.Number.Hex */ }
.topic .highlight .mi {
  color: #B48EAD;
}
.topic { /* Literal.Number.Integer */ }
.topic .highlight .mo {
  color: #B48EAD;
}
.topic { /* Literal.Number.Oct */ }
.topic .highlight .sa {
  color: #A3BE8C;
}
.topic { /* Literal.String.Affix */ }
.topic .highlight .sb {
  color: #A3BE8C;
}
.topic { /* Literal.String.Backtick */ }
.topic .highlight .sc {
  color: #A3BE8C;
}
.topic { /* Literal.String.Char */ }
.topic .highlight .dl {
  color: #A3BE8C;
}
.topic { /* Literal.String.Delimiter */ }
.topic .highlight .sd {
  color: #616E87;
}
.topic { /* Literal.String.Doc */ }
.topic .highlight .s2 {
  color: #A3BE8C;
}
.topic { /* Literal.String.Double */ }
.topic .highlight .se {
  color: #EBCB8B;
}
.topic { /* Literal.String.Escape */ }
.topic .highlight .sh {
  color: #A3BE8C;
}
.topic { /* Literal.String.Heredoc */ }
.topic .highlight .si {
  color: #A3BE8C;
}
.topic { /* Literal.String.Interpol */ }
.topic .highlight .sx {
  color: #A3BE8C;
}
.topic { /* Literal.String.Other */ }
.topic .highlight .sr {
  color: #EBCB8B;
}
.topic { /* Literal.String.Regex */ }
.topic .highlight .s1 {
  color: #A3BE8C;
}
.topic { /* Literal.String.Single */ }
.topic .highlight .ss {
  color: #A3BE8C;
}
.topic { /* Literal.String.Symbol */ }
.topic .highlight .bp {
  color: #81A1C1;
}
.topic { /* Name.Builtin.Pseudo */ }
.topic .highlight .fm {
  color: #88C0D0;
}
.topic { /* Name.Function.Magic */ }
.topic .highlight .vc {
  color: #D8DEE9;
}
.topic { /* Name.Variable.Class */ }
.topic .highlight .vg {
  color: #D8DEE9;
}
.topic { /* Name.Variable.Global */ }
.topic .highlight .vi {
  color: #D8DEE9;
}
.topic { /* Name.Variable.Instance */ }
.topic .highlight .vm {
  color: #D8DEE9;
}
.topic { /* Name.Variable.Magic */ }
.topic .highlight .il {
  color: #B48EAD;
}
.topic { /* Literal.Number.Integer.Long */
  /* end of Syntax Highlighting for SIMATIC AX */
}

/*# sourceMappingURL=ft-global.css.map */
