/* inside #custom-page-designed-content shadowRoot */

ft-slotted-tabs {
  ft-user-assets-count,
  ft-localized-label {
    display: block;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 12px;
  }
}

