/* Industrial Edge - video library */

/* Page header */
#ifk3ho {
  position: sticky !important;
  top: 0 !important;
  z-index: 20 !important;

  #i3wg1q {
    width: 100%;
    height: 100%;

    > ft-localized-label {
      display: inline-block;
      margin-left: 16px;
      margin-right: 16px;
    }
  }

  /* Key Resources */
  #ie34kj {
    width: 100%;
    height: 100%;

    a {
      width: fit-content;

      ft-localized-label {
        display: inline-block;
        color: white;
      }
    }
  }

  /* industrialEdge_Tutorials.AboveHeaderbarVid */
  #iutiyy {
    width: 100%;
    height: 100%;

    a {
      color: white;
      width: fit-content;

      ft-localized-label {
        display: inline-block;
      }
    }
  }

  /* Select a context and a label key */
  #iowc8k {
    width: 100%;
    height: 100%;

    a {
      color: white;
      width: fit-content;

      ft-localized-label {
        display: inline-block;
      }
    }
  }

  /* i2bqxe */
  #i2bqxe {
    width: 100%;
    height: 100%;

    a {
      width: fit-content;
    }
  }

  /* i6v8jf */
  #i6v8jf {
    width: 100%;
    height: 100%;
  }

  /* imc88m */
  #imc88m {
    width: 100%;
    height: 100%;
  }

  /* izv10a */
  #izv10a {
    width: 100%;
    height: 100%;

    a {
      color: white;
      width: fit-content;

      ft-localized-label {
        display: inline-block;
      }
    }
  }

  /* in8sik */
  #in8sik {
    #igbovf {
      a {
        ft-localized-label {
          color: white;
        }
      }

      img {
        margin-left: 8px;
        margin-right: 8px;
      }
    }
  }
}

/* Page body */
#izpubg {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  //Page Entry Section Container
  #i93h9n {
    //position: relative;
    //z-index: 2;

    #i6u7rg {
      //width: 100%;
      //height: 100%;

      > #i0xw2t {
        > #i0ww4f {
          //width: 100%;
          //height: 100%;

          > #ilfvvb {
            //min-width: 10px;
            //min-height: 10px;
            //display: flex;
            //flex-direction: row;
            //justify-content: end;
            //margin-right: 100px;
            //box-sizing: border-box;

            > img {
              height: 700px;
            }
          }
        }
      }

      > #iwwp5g {
        > #i09gb7 {
          //width: 100%;
          //height: 100%;

          > #i7ep9g {
            //width: 100%;
            //height: 100%;

            > #is8bj8 {
              //width: 100%;
              //height: 100%;

              ft-localized-label {
                //color: #00CCCC;
              }
            }

            > #i3358v {
              //width: 100%;
              //height: 100%;
            }

            > #ib4jey {
              //width: 100%;
              //height: 100%;

            }

            > #i5bbya {
              width: 100%;
              height: 100%;

            }

            > #i0ykqd {
              > #ik6kdh {
                //min-width: 100px;
                //min-height: 10px;
                //padding: 10px;
                //margin: 10px;
              }
            }
          }

          > #i9hr1v {
            //min-width: 100px;
            //min-height: 100px;
            //padding: 10px;
            //margin: 10px;
          }

          > #iuds4k {
            min-height: 6px;
            padding: 10px;
          }
        }
      }
    }

    #iwkg26 {
      width: 100%;
      height: 100%;
    }
  }

  //Page Background Image Container iptelu
  #iptelu {
    position: relative;
    top: -280px;

    #iha75h {
      width: 100%;
      height: 100%;
    }
  }

  //Page Background Image Container inbuzs
  #inbuzs {
    position: relative;
    top: -80px;

    #indvq6 {
      width: 100%;
      height: 100%;

      #i6zlei {
        min-width: 10px;
        min-height: 10px;
        display: flex;
        flex-direction: row;
        justify-content: end;
        box-sizing: border-box;
      }
    }
  }

  //Page Background Image Container incsmk
  #incsmk {
    position: relative;
    left: -128px;
    overflow: hidden;

    #iz41rj {
      width: 100%;
      height: 100%;
    }
  }

  //Page Background Image Container incsmk
  #ib9746 {
    #i6hzn1 {
      width: 100%;
      height: 100%;
    }
  }

  //Anchor irzpcl
  #irzpcl {
    #howTo {
      width: 100%;
      height: 100%;
    }
  }

  //Anchor ihr5vx
  #ihr5vx {
    #SetUp {
      width: 100%;
      height: 100%;
    }
  }

  //Anchor i4uryu
  #i4uryu {
    #keyResources {
      width: 100%;
      height: 100%;
    }
  }
}
