//.ft-custom-highlight {
//    background: #ffeb3b;
//    padding: 2px 4px;
//    border-radius: 4px;
//}

/*.FT-application-content {*/
/*    color: #ffeb3b !important;*/
/*}*/
#ihft2{
  h1{
    font-size: 6rem;
  }
}