.topic {
  color: var(--ft-custom-reader-content-text);

  // FIX: rgba alpha must be 0..1 (or 0%..100%)
  --md-typeset-table-color: rgba(0, 0, 0, 0.31);
  --md-table-bg-color: #f3f3f0;
  /*--md-shadow-z1: 0 0.2rem 0.5rem #0000000d,0 0 0.05rem #0000001a;*/
  --md-shadow-z1: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.14), 0 0 0.05rem rgba(0, 0, 0, 0.26);
  --md-default-fg-color--lightest: rgba(0, 0, 0, 0.18);
  --md-accent-fg-color: #0098a6;
  --md-clipboard-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 21H8V7h11m0-2H8a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2m-3-4H4a2 2 0 0 0-2 2v14h2V3h12V1Z"/></svg>');
  --md-default-bg-color: var(--ft-custom-reader-content-background);
  --md-default-fg-color: var(--ft-custom-reader-content-text);

  /* Remove x overflow in general */
  overflow-x: unset !important;

  .ft-external-link,
  .ft-internal-link,
  .ft-internal-xlink,
  [data-ft-click-interceptor="ft-external-link"],
  [data-ft-click-interceptor="ft-internal-link"],
  [data-ft-click-interceptor="ft-internal-xlink"] {
    color: var(--ft-custom-reader-link-text);
  }

  p {
    line-height: 1.5em;
  }

  /*Linie vor Topic Title*/
  /********************************************************/
  .depth-1 {
  }

  .depth-1::before {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    margin: 1em 0;
    background-color: var(--ft-custom-secondary);
  }

  /* Fix found search text in topics */
  mark.highlight-html-match {
    color: var(--ft-custom-reader-content-text) !important;
    background-color: var(--ft-custom-highlight-found-search-text) !important;
  }

  /* Syntax Highlighting for SIMATIC AX */

  $hl-primary-color: #D8DEE9;
  $hl-background: #2E3440;

  .highlight {
    margin-top: 0.5em;
  }

  code:not(pre code) {
    padding: 0.1em 0.4em;
    font-size: 0.875em;
    color: var(--ft-custom-reader-code-text);
    font-variant-ligatures: none;
    background-color: rgba(170, 170, 150, 0.07);
    border: 1px solid rgba(170, 170, 150, 0.14);
    border-radius: 8px;
  }

  .highlight ::part(container) {
    background-color: $hl-background;
  }

  .highlight ::part(button-container) {
    top: 0.2em;
  }

  .highlight ::part(button) {
    border-radius: 4px;
    padding: 2px 4px;
    background-color: transparent; // keep your later override here
  }

  .highlight ::part(content) {
    margin: 0;
  }

  pre code {
    overflow-x: auto;
    color: $hl-primary-color;
    display: block;
    padding: 0.8rem 1rem;
  }

  /* Nord Theme from pygments https://github.com/richleland/pygments-css/blob/master/monokai.css */
  pre { line-height: 125%; margin: 0; border-radius: 8px; }
  td.linenos .normal { color: #D8DEE9; background-color: #242933; padding-left: 5px; padding-right: 5px; }
  span.linenos { color: #D8DEE9; background-color: #242933; padding-left: 5px; padding-right: 5px; }
  td.linenos .special { color: #242933; background-color: #D8DEE9; padding-left: 5px; padding-right: 5px; }
  span.linenos.special { color: #242933; background-color: #D8DEE9; padding-left: 5px; padding-right: 5px; }
  .highlight .hll { background-color: #3B4252 }
  .highlight { background: #2E3440; color: #D8DEE9; border-radius: 8px; }
  .highlight .c { color: #616E87; font-style: italic } /* Comment */
  .highlight .err { color: #BF616A } /* Error */
  .highlight .esc { color: #D8DEE9 } /* Escape */
  .highlight .g { color: #D8DEE9 } /* Generic */
  .highlight .k { color: #81A1C1; font-weight: bold } /* Keyword */
  .highlight .l { color: #D8DEE9 } /* Literal */
  .highlight .n { color: #D8DEE9 } /* Name */
  .highlight .o { color: #81A1C1; font-weight: bold } /* Operator */
  .highlight .x { color: #D8DEE9 } /* Other */
  .highlight .p { color: #ECEFF4 } /* Punctuation */
  .highlight .ch { color: #616E87; font-style: italic } /* Comment.Hashbang */
  .highlight .cm { color: #616E87; font-style: italic } /* Comment.Multiline */
  .highlight .cp { color: #5E81AC; font-style: italic } /* Comment.Preproc */
  .highlight .cpf { color: #616E87; font-style: italic } /* Comment.PreprocFile */
  .highlight .c1 { color: #616E87; font-style: italic } /* Comment.Single */
  .highlight .cs { color: #616E87; font-style: italic } /* Comment.Special */
  .highlight .gd { color: #BF616A } /* Generic.Deleted */
  .highlight .ge { color: #D8DEE9; font-style: italic } /* Generic.Emph */
  .highlight .ges { color: #D8DEE9; font-weight: bold; font-style: italic } /* Generic.EmphStrong */
  .highlight .gr { color: #BF616A } /* Generic.Error */
  .highlight .gh { color: #88C0D0; font-weight: bold } /* Generic.Heading */
  .highlight .gi { color: #A3BE8C } /* Generic.Inserted */
  .highlight .go { color: #D8DEE9 } /* Generic.Output */
  .highlight .gp { color: #616E88; font-weight: bold } /* Generic.Prompt */
  .highlight .gs { color: #D8DEE9; font-weight: bold } /* Generic.Strong */
  .highlight .gu { color: #88C0D0; font-weight: bold } /* Generic.Subheading */
  .highlight .gt { color: #BF616A } /* Generic.Traceback */
  .highlight .kc { color: #81A1C1; font-weight: bold } /* Keyword.Constant */
  .highlight .kd { color: #81A1C1; font-weight: bold } /* Keyword.Declaration */
  .highlight .kn { color: #81A1C1; font-weight: bold } /* Keyword.Namespace */
  .highlight .kp { color: #81A1C1 } /* Keyword.Pseudo */
  .highlight .kr { color: #81A1C1; font-weight: bold } /* Keyword.Reserved */
  .highlight .kt { color: #81A1C1 } /* Keyword.Type */
  .highlight .ld { color: #D8DEE9 } /* Literal.Date */
  .highlight .m { color: #B48EAD } /* Literal.Number */
  .highlight .s { color: #A3BE8C } /* Literal.String */
  .highlight .na { color: #8FBCBB } /* Name.Attribute */
  .highlight .nb { color: #81A1C1 } /* Name.Builtin */
  .highlight .nc { color: #8FBCBB } /* Name.Class */
  .highlight .no { color: #8FBCBB } /* Name.Constant */
  .highlight .nd { color: #D08770 } /* Name.Decorator */
  .highlight .ni { color: #D08770 } /* Name.Entity */
  .highlight .ne { color: #BF616A } /* Name.Exception */
  .highlight .nf { color: #88C0D0 } /* Name.Function */
  .highlight .nl { color: #D8DEE9 } /* Name.Label */
  .highlight .nn { color: #8FBCBB } /* Name.Namespace */
  .highlight .nx { color: #D8DEE9 } /* Name.Other */
  .highlight .py { color: #D8DEE9 } /* Name.Property */
  .highlight .nt { color: #81A1C1 } /* Name.Tag */
  .highlight .nv { color: #D8DEE9 } /* Name.Variable */
  .highlight .ow { color: #81A1C1; font-weight: bold } /* Operator.Word */
  .highlight .pm { color: #ECEFF4 } /* Punctuation.Marker */
  .highlight .w { color: #D8DEE9 } /* Text.Whitespace */
  .highlight .mb { color: #B48EAD } /* Literal.Number.Bin */
  .highlight .mf { color: #B48EAD } /* Literal.Number.Float */
  .highlight .mh { color: #B48EAD } /* Literal.Number.Hex */
  .highlight .mi { color: #B48EAD } /* Literal.Number.Integer */
  .highlight .mo { color: #B48EAD } /* Literal.Number.Oct */
  .highlight .sa { color: #A3BE8C } /* Literal.String.Affix */
  .highlight .sb { color: #A3BE8C } /* Literal.String.Backtick */
  .highlight .sc { color: #A3BE8C } /* Literal.String.Char */
  .highlight .dl { color: #A3BE8C } /* Literal.String.Delimiter */
  .highlight .sd { color: #616E87 } /* Literal.String.Doc */
  .highlight .s2 { color: #A3BE8C } /* Literal.String.Double */
  .highlight .se { color: #EBCB8B } /* Literal.String.Escape */
  .highlight .sh { color: #A3BE8C } /* Literal.String.Heredoc */
  .highlight .si { color: #A3BE8C } /* Literal.String.Interpol */
  .highlight .sx { color: #A3BE8C } /* Literal.String.Other */
  .highlight .sr { color: #EBCB8B } /* Literal.String.Regex */
  .highlight .s1 { color: #A3BE8C } /* Literal.String.Single */
  .highlight .ss { color: #A3BE8C } /* Literal.String.Symbol */
  .highlight .bp { color: #81A1C1 } /* Name.Builtin.Pseudo */
  .highlight .fm { color: #88C0D0 } /* Name.Function.Magic */
  .highlight .vc { color: #D8DEE9 } /* Name.Variable.Class */
  .highlight .vg { color: #D8DEE9 } /* Name.Variable.Global */
  .highlight .vi { color: #D8DEE9 } /* Name.Variable.Instance */
  .highlight .vm { color: #D8DEE9 } /* Name.Variable.Magic */
  .highlight .il { color: #B48EAD } /* Literal.Number.Integer.Long */

  /* end of Syntax Highlighting for SIMATIC AX */

  // ...everything below remains unchanged from your file...
}
